{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
   
    {% for i in data %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Title : {{i.title}} </h5>
          <p class="card-text">{{i.content}}</p>
          <p>Author : {{i.author.name}}</p>
          <p>Category : 
            {% for j in i.categroy.all %}
              {{j.name}}
            {% endfor %}
           </p>

          <a href="{% url 'edit_post' i.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_post' i.id %}" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}